*.orig

archsim/inc/cmake-config.h
archsim/inc/cmake-scm.h

nbproject/
*.vscode

CMakeFiles/

tests/arm-linux-tests/linux-4.3/
tests/gensim-fuzz/output

*.a
*.o
*.bin
*.processed.S
*.jar

Makefile
*.cmake
CMakeCache.txt

dist/
gtest/
